<!-- Facebook SDK -->
#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : 390508047659869, // App ID
      //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    FB.Event.subscribe('auth.statusChange', function(response) {
      console.log(response)
      if(response.status === "connected") {
        var o = response.authResponse;
        $.post("/facebook", {
          fbtoken: o.accessToken,
          fbid: o.userID
        });
        $("#fbtoken").html(o.accessToken)
        $("#fbid").html(o.userID)
        $("#fbtime").html(o.expiresIn)
      }
      else {
        $("#fbmodal").modal({
          keyboard: false,
          backdrop: "static"
        }).modal("show")
      }
    })
  };
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));