.contain
  %h1 This finna be siicccck
  %b By Rafi and Akshay
  %a{:href => "http://yaleconnect.heroku.com/", :target => "_blank"} Check it out brah.
  %p It takes a while to load obv.
  %p I 4m 5o c0ol 