- content_for :fb do
  %noscript
    %h1 Please enable JavaScript!
.box.center
  %h1 Welcome to Yale's New Campus!
  - if(flash[:success])
    .alert.alert-success.fade.in
      %a.close{"data-dismiss" => "alert"} &times;
      %span#success= flash[:success]
  - if(flash[:error])
    .alert.alert-error.fade.in
      %a.close{"data-dismiss" => "alert"} &times;
      %span#error= flash[:error]
  %p.big Here, you'll meet and interact with your classmates like you've never done before. 
  %br
  %a{:href => "/auth"}
    #cas.btn.btn-large.btn-primary{:rel => "tooltip", :style => "padding: 10px 50px;", "data-placement" => "right", "data-title" => "CAS Login"} Let's go!