.box
  %h1 Welcome to Yale's new campus!
  - if(flash[:success])
    .alert.alert-success.fade.in
      %a.close{"data-dismiss" => "alert"} &times;
      %span#success= flash[:success]
  %p Here, you'll meet and interact with your classmates like you've never done before. 
  %br
  %a{:href => "/auth"}
    .btn.btn-primary Let's go!