.hiatus-left{:style =>"display: inline-block; margin: 10px 30px 0 60px; vertical-align: middle;"}
  %h3 You're on hiatus
  %p We know you're busy right now—we won't bother you for a while. 
%a{:href => "/hiatus", "data-remote" => "true"} 
  .btn.btn-primary.btn-large Leave hiatus