@import "base.less";

@width: 960px;
body {
  .rad-gradient(#CCC, #FFF);
  font-family: "Mako";
  font-family: "Lato";
  font-family: "Open Sans";
  min-width: @width;
}

.contain {
  width: @width;
  margin: 0px auto;
  padding-top: 60px;
}

p {
  font-family: "Open Sans";
}

b {
  font-family: "Lato";
}

#fblogin {
  text-align: center;
  margin: 10px auto;
  width: 300px;
  font-size: 80%;
  line-height: 80%;
}